
body {
  font-family: 'IM Fell English SC', serif;
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-image:url("http://cdn.superbwallpapers.com/wallpapers/tv-shows/king-s-landing-game-of-thrones-15267-1680x1050.jpg");
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

/*
  Section styles
 */
.card { 
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

/***********************************/

h1 {
  text-align: center;
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
}

ul {
  color: white;
  font-size: .75em;
}

img {
  border-radius: 100%;
  text-align: center;
}

.cell3, .cell1 {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  margin-top: 10%;
}

.fight-button {
  text-align: center;
  margin-top: 20%;
}

.cell8 {
  text-align: center;
}

.cell5 {
  text-align: center;
}

#battlelog {
  text-align: center;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 0.5em;
  overflow-y: scroll;
  height: 210px;
  width: 210px;
  margin: 0 auto;
}

#outcome-output {
  color: white;
  background-image:url("http://server1.decornorth.com/images/images.athleo.net/backgrounds/Red2.jpg");
  border-radius: 30px;

}



/*.battleGroundBody {
  font-family: 'IM Fell English SC', serif;
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-image:url("http://i.imgur.com/kpkuC.jpg");
}*/






